#loginh1{
	text-align: center;
	background-color: purple;
	color: yellow;
	margin: 20px;
}
body{
	background-image: url("./a.jpg");
}
label{
	color: black;
}
.input{
	opacity: 0.6;
}
#indexh1{
	text-align: center;
	background-color: purple;
	color:yellow;
}
